{{!-- <img src="/hw11/app/assets/images/burger.png" width="300px" /> --}}



<div class="input-group mb-3">
  <input type="text" id="newBurger" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="submitBtn">Submit</button>
  </div>
</div>
